* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0 0 0;
  text-align: center;
}

nav {
  color: #ffdbdb;
  background-color: #444;
  padding: 0.5rem 0 0 0;
}

/* PORTFOLIO MAIN */
/*----------------*/

.portfolio-main {
  padding: 2rem;
  min-height: 500px;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

/*   ABOUT MAIN   */
/*----------------*/

/*     FOOTER     */
/*----------------*/

footer {
  height: 80px;
  background-color: #333;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
