* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0 0 0;
  text-align: center;
}

nav {
  color: #ffdbdb;
  background-color: #444;
  padding: 0.5rem 0 0 0;
}

/* PORTFOLIO MAIN */
/*----------------*/

.portfolio-main {
  padding: 2rem;
  min-height: 800px;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.portfolio-list {
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.portfolio-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
}

.portfolio-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.portfolio-card img {
  width: 200px;
  height: 200px;
}

/*    NAV MAIN    */
/*----------------*/

.nav-link {
  color: #ffdbdb;
  text-decoration: none;
  margin: 0 1rem;
}

/*   ABOUT MAIN   */
/*----------------*/

.about-main {
  padding: 2rem;
  min-height: 800px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  max-width: 700px;
}

.profile-picture {
  border-radius: 10px;
  margin-bottom: 50px;
}

.profile-picture:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

/*  CONTACT PAGE  */
/*----------------*/

.contact-main {
  padding: 2rem;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 400px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  max-width: 700px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.contact-form input,
.contact-form textarea {
  width: 400px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #929292;
  border-radius: 4px;
}

/*     FOOTER     */
/*----------------*/

footer {
  height: 80px;
  background-color: #333;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
